h1{
	color: grey;
}

h3{
	color: blue;
}

body{
	font-size: 15px;
	display: flex;
	flex-direction: row;
}
 

.Grand-rectangle-gauche{
	background-color: white;
	width: 20%; 
}

.Grand-rectangle-droit{
	background-color: white;
	width: 80%;
}

div class .mots-droite{
	display: flex;
	flex direction: row;
	width: 25%
}

div class .mots-gauche{
	display: flex;
	flex direction: row;
	width: 25%
}