h1{
	color: 	#E0D8CF;
}

h3{ 
	color: #E0D8CF;
}

body{
	font-size: 15px;
	display: flex;
	flex-direction: row;
}
 
img{
	width: 50%;

}

.ronde{
	border-radius:  50%
}


.Grand-rectangle-gauche{
	background-color:  #E0D8CF;
	width: 25%; 
}

.Grand-rectangle-droit{
	background-color: white;
	width: 50%;
}


#wrap{
	display: flex;
	justify-content: space-around;
}

.picto{
	width: 40%;
	border: 1px; 
}

