h1{
	color: 	#E0D8CF;
}

h3{
	color: #E0D8CF;
}

body{
	font-size: 15px;
	display: flex;
	flex-direction: row;
}
 

.Grand-rectangle-gauche{
	background-color: white;
	width: 40%; 
}

.Grand-rectangle-droit{
	background-color: white;
	width: 80%;
}

div class .mots-droite{
	display: flex;
	flex direction: row;
	width: 25%
}

div class .mots-gauche{
	display: flex;
	flex direction: row;
	width: 25%
}

#wrap{
	display: flex;
	justify-content: space-around;
}

.picto{
	width: 60%;
	border: 1px; 
}